a {
    text-decoration: none;
}

#latest_transactions th {
    text-align: left;
}

#latest_transactions th.right_align {
    text-align: right;
    padding-right: 15px;
}

#latest_transactions td {
    padding-right: 15px;
}

#latest_transactions td.right_align {
    text-align: right;
}

.balances {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}

.balances th {
    text-align: left;
}

.balances td.right_align {
    text-align: right;
}