<html>
  <body>
	<a href="/accounts/logout/">Log out</a>
	<br><br>
	
	<form>
	  Date: <input type="text" size="10">
	  <br><br>

	  Title: <input type="text" size="60">
	  
	  <textarea rows="10" cols="80"></textarea>
	  <br><br>
	  
	  I felt: <input type="text" size="60"><br><i>happy, upset, hopeful... separate with spaces, join compound-words with hyphens.</i>
	  <br><br>
	  
	  Energy level (+/- 100%) <input type="text" size="4">%<br>
	  Mood level (+/- 100%) <input type="text" size="4">%
	</form>
  </body>
</html>
